<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>智慧气象信息分析平台</title>
    <link rel="stylesheet" href="../static/css/reset.css" />
    <link rel="stylesheet" href="../static/css/index.css" />
    <link rel="stylesheet" href="../static/css/font-awesome-4.7.0/css/font-awesome.min.css" />
    <script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=wtLOgjD8mHsg7sIIeT4hvE9yK3aG619o"></script>
    <script type="text/javascript" src="//api.map.baidu.com/library/Heatmap/2.0/src/Heatmap_min.js"></script>
    <script src="../static/js/jquery-3.3.1.js"></script>
</head>
<body>
    <div id="top" class="clearfloat">
    	<img src="../static/img/top01.png" class="topimg top01"/>
     	<h1>智慧气象信息分析平台</h1>
     	<img src="../static/img/top02.png" class="topimg top02"/>
    </div>




    <div id="time" style="position: absolute;left:70%;top: 6%;"></div>
    <div style="position: absolute;left:68%;top: 20%;">((weather))</div>
    <script>
    var time = new Date();

    function showTime() {
        nowtime = new Date();
        year = nowtime.getFullYear();
        month = nowtime.getMonth() + 1;
        date = nowtime.getDate();
        document.getElementById("time").innerText = year + "年" + month + "月" + date + " " + nowtime.toLocaleTimeString();
    }

    setInterval("showTime()", 1000);

    </script>



    <div id="content">
        <form id="baidu" action="/baidu" method="post" target="baidu_">

            <label for="select_time">分析的时间</label>
            <select name="baidu_time" id="select_time">
                <option value ="01">1月</option>
                <option value ="02">2月</option>
                <option value ="03">3月</option>
                <option value ="04">4月</option>
                <option value ="05">5月</option>
                <option value ="06">6月</option>
                <option value ="07">7月</option>
                <option value ="08">8月</option>
                <option value ="09">9月</option>
                <option value ="10">10月</option>
                <option value ="11">11月</option>
                <option value ="12">12月</option>
                <option value ="01,02,03">第一季度</option>
                <option value ="04,05,06">第二季度</option>
                <option value ="07,08,09">第三季度</option>
                <option value ="10,11,12">第四季度</option>
            </select>
            <label for="select_avg">分析的内容</label>
            <select name="baidu_avg" id="select_avg">
                <option value ="high_temperature">最高温度</option>
                <option value ="low_temperature">最低温度</option>
                <option value ="(high_temperature+low_temperature)/2">平均温度</option>
            </select>
            <button id="submit_" type="submit">确定</button>
        </form>
        <iframe name="baidu_" src="/baidu" width="100%" height="700" frameborder="0"></iframe>
    </div>
</body>
</html>