<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
    <div style="margin: auto">
        智慧气象信息分析平台
    </div>


    <div style="width: 80%; height: 700px; margin: auto ">
        <form id="baidu" action="/baidu" method="post" target="baidu">
            <label for="select_time">分析的时间</label>
            <select name="baidu_time" id="select_time">
                <option value ="01">1月</option>
                <option value ="02">2月</option>
                <option value ="03">3月</option>
                <option value ="04">4月</option>
                <option value ="05">5月</option>
                <option value ="06">6月</option>
                <option value ="07">7月</option>
                <option value ="08">8月</option>
                <option value ="09">9月</option>
                <option value ="10">10月</option>
                <option value ="11">11月</option>
                <option value ="12">12月</option>
                <option value ="01,02,03">第一季度</option>
                <option value ="04,05,06">第二季度</option>
                <option value ="07,08,09">第三季度</option>
                <option value ="10,11,12">第四季度</option>
            </select>
            <label for="select_avg">分析的内容</label>
            <select name="baidu_avg" id="select_avg">
                <option value ="high_temperature">最高温度</option>
                <option value ="low_temperature">最低温度</option>
                <option value ="(high_temperature+low_temperature)/2">平均温度</option>
            </select>
            <button type="submit">确定</button>
        </form>
        <iframe name="baidu" width="100%" height="680px" scrolling="no" src="/baidu" frameborder="0"></iframe>
    </div>
    <div id="ad" style="height: 100px"></div>

    <div style="width: 80%; height: 700px; margin: auto ">
        <form id="folium" action="/folium" method="post" target="folium">
            <label for="select_folium_time">分析的时间</label><select name="folium_time" id="select_folium_time">
                <option value ="01">1月</option>
                <option value ="02">2月</option>
                <option value ="03">3月</option>
                <option value ="04">4月</option>
                <option value ="05">5月</option>
                <option value ="06">6月</option>
                <option value ="07">7月</option>
                <option value ="08">8月</option>
                <option value ="09">9月</option>
                <option value ="10">10月</option>
                <option value ="11">11月</option>
                <option value ="12">12月</option>
                <option value ="01,02,03">第一季度</option>
                <option value ="04,05,06">第二季度</option>
                <option value ="07,08,09">第三季度</option>
                <option value ="10,11,12">第四季度</option>
            </select>
            <label for="select_folium__avg">分析的内容</label><select name="folium_avg" id="select_folium__avg">
                <option value ="high_temperature">最高温度</option>
                <option value ="low_temperature">最低温度</option>
                <option value ="(high_temperature+low_temperature)/2">平均温度</option>
            </select>
            <button type="submit">确定</button>
        </form>
        <iframe name="folium" width="100%" height="680px" scrolling="no" src="/folium" frameborder="0"></iframe>
    </div>


</body>
</html>