body, div, p, a, img, ul, li, input, button,h2, h4, h3{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
.clearfloat:after{
	content: "";
	display: block;
	clear: both;
}
